@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/pridi-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/pridi-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/pridi-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/pridi-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/pridi-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/pridi-700.ttf') format('truetype');
}
